    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About</h2>
                <p>VIGOR stablecoin is a token on EOS that is stable to the US dollar</p>
                <p></p>
                <img src="{{site.baseurl}}/img/VIGORinfographic.jpg" width="400" height="600">
                <p></p>
                <img src="{{site.baseurl}}/img/tokens.jpg" width="400" height="350"> 
                <p></p> 
                <p>VIGOR stablecoin</p>
                <ol start="1">
                    <li align="left">Borrow</li>
                        <ul>
                            <li align="left">Borrow 'cash': take a VIGOR stablecoin loan using your EOS cryptos as collateral</li>
                            <li align="left">Borrow crypto: short sellers can borrow EOS cryptos using VIGOR stablecoin as collateral</li>
                        </ul>                    
                    <li align="left">Earn</li>
                    <ul>
                            <li align="left">Insurers: Send EOS cryptos into insurance pool that backs the stablecoin</li>
                            <li align="left">Lenders: Send EOS cryptos into the lending pool to be lent out</li>
                        </ul>
                </ol>
                <p></p> 
                <p>VIG utility token</p>
                <ol start="1">
                    <li align="left">VIG is a fee token</li>
                        <ul>
                            <li align="left">loan fees are paid and earned denominated in VIG</li>
                            <li align="left">pay the VIG, earn the VIG</li>
                        </ul>
                    <li align="left">VIG is a reserve asset</li>
                        <ul>
                            <li align="left">A cut of VIG fees is sent permanently into a reserve which backs the stablecoin as an insurer of last resort</li>
                             <li align="left">VIG is deflationary; the free float shrinks over time making it more scarce</li>
                        </ul>
                    <li align="left">VIG users run the platform</li>
                        <ul>
                            <li align="left">Using VIG over time to pay/earn fees can make users eligible to cast votes for DAC custodians who execute updates to software and configuration</li>
                        </ul>
                    <li align="left">VIG users get a crypto credit score</li>
                        <ul>
                            <li align="left">Paying VIG fee on time allows borrowers to build a crypto credit score</li>
                        </ul>
                </ol>
                <p></p> 
                <p>VIGOR 스테이블코인</p>
                <ol start="1">
                    <li align="left">대출</li>
                        <ul>
                            <li align="left">'현금' 대출: EOS 크립토자산을 담보로 VIGOR 스테이블코인 대출합니다</li>
                            <li align="left">크립토 자산 : 숏매도자는 VIGOR 스테이블코인을 담보로 EOS 크립토자산을 빌릴 수 있습니다</li>
                        </ul>                    
                    <li align="left">수입</li>
                    <ul>
                            <li align="left">보증인 : EOS 크립토자산을 스테이블코인을 뒷받침하는 보험풀로 보냅니다</li>
                            <li align="left">대출자 : EOS 크립토자산을 대출할 수 있도록 대출풀로 보냅니다</li>
                        </ul>
                </ol>
                <p></p> 
                <p>VIG 유틸리티 토큰</p>
                <ol start="1">
                    <li align="left">VIG는 수수료 토큰입니다</li>
                        <ul>
                            <li align="left">대출 수수료는 VIG로 표시되어 지불되고 얻습니다</li>
                            <li align="left">VIG를 지불하고 VIG를 얻습니다</li>
                        </ul>
                    <li align="left">VIG는 예비 자산입니다</li>
                        <ul>
                            <li align="left">일부 VIG 수수료는 적립금으로 영구적으로 전송됩니다. 스테이블코인을 뒷받침하는 적립금은 보증인의 최후의 수단입니다.</li>
                             <li align="left">VIG는 디플레이션코인입니다. 유동량은 시간이 지남에 따라 줄어들어 희귀해집니다</li>
                        </ul>
                    <li align="left">VIG 이용자가 플랫폼을 운영합니다.</li>
                        <ul>
                            <li align="left">VIG를 사용하여 수수료를 지불 / 획득하면 소프트웨어 및 구성에 대한 업데이트를 실행하는 DAC 관리인들에게 투표를 행사할 수 있습니다.</li>
                        </ul>
                    <li align="left">VIG 이용자는 크립토 신용점수를 부여받습니다.</li>
                        <ul>
                            <li align="left">VIG 수수료를 제 시간에 지불하면 크립토 신용점수를 쌓을 수 있습니다.</li>
                        </ul>
                </ol>
                <p>VIGOR stablecoin is a community effort.</p>
                <p></p> 
                <p></p> 
                <img src="{{site.baseurl}}/img/vigor_round.jpeg" width="400" height="400">
                <p></p> 
                <p></p>
                <iframe width="400" height="400" src="https://www.youtube.com/embed/5ZRIkO_OtK8"></iframe>
                <p></p> 
                <p></p>
                <iframe width="400" height="400" src="https://www.youtube.com/embed/sCxVe59P-EI"></iframe>
                <p></p> 
                <p></p>
                <iframe width="400" height="400" src="https://www.youtube.com/embed/zdPR8nOWOrA"></iframe>
                <p></p> 
                <p></p>
                <iframe width="400" height="400" src="https://www.youtube.com/embed/FfgQtPOO1eg"></iframe>
                <p></p> 
                <p></p>
                <img src="{{site.baseurl}}/img/lendingdac.jpg" width="400" height="250">
                <p></p> 
                <p></p>
                <iframe width="400" height="400" src="https://www.youtube.com/embed/cJRfCx_xfaI"></iframe>
                <p></p> 
                <p></p>
                <iframe width="400" height="400" src="https://www.youtube.com/embed/ne-RyqLauP8"></iframe>
                <p></p> 
                <p></p>
                <img src="{{site.baseurl}}/img/VIGORbanner.jpg" width="400" height="150">
                <p></p> 
                <p></p>
                <iframe width="400" height="400" src="https://www.youtube.com/embed/_XgDQ4AUcNU"></iframe>
                <p></p> 
                <p></p>
                <img src="{{site.baseurl}}/img/VIGOReosio.jpg" width="400" height="300">
                <p></p> 
                <p></p>
                <iframe width="400" height="400" src="https://medium.com/eosdac/eosdac-enabled-vigor-the-crypto-backed-stablecoin-on-eos-b7faae6d35a9"></iframe>
                <p></p> 
                <p></p>
                <iframe width="400" height="250" src="https://drive.google.com/file/d/1l5dhoxF4Rai0FqULOpiSw9E4UdKoLCj6/preview"></iframe>
                <p></p> 
                <p></p>
                <iframe width="400" height="250" src="https://drive.google.com/file/d/10aeoHNU6Vjz1iNUKCO_j0uxs0YzBwhXn/preview"></iframe>
                <p></p> 
                <p></p>
                <iframe width="400" height="250" src="https://drive.google.com/file/d/1f8y0RjtZdbN0yKF1M84Rsfi7lsGkU8or/preview"></iframe>
                <p></p> 
                <p></p>
                <iframe width="400" height="400" src="https://www.youtube.com/embed/O1H3AllJH_U"></iframe>
                <p></p> 
                <p></p>
                <iframe src="https://docs.google.com/gview?url=https://vig.ai/vigorvsmakerchart.pdf&embedded=true" style="width:400px; height:500px;" frameborder="0"></iframe>
                <p></p> 
                <p></p>
                <img src="{{site.baseurl}}/img/VIGORchart.jpg" width="400" height="350">
                <p></p> 
                <p></p> 
                <iframe width="400" height="400" src="https://medium.com/@andrew.peter.bryan/vigor-stablecoin-vusd-on-eos-bd3d47a947ea"></iframe>
                <p></p> 
                <p></p>
                <iframe width="400" height="400" src="https://medium.com/@eosnationbp/eos-nations-eos-hot-sauce-14-e511fb3de11f"></iframe>
                <p></p> 
                <p></p>
                <iframe width="400" height="250" src="https://drive.google.com/file/d/11Pl2TttLpyQ1sFDUDEiH_MlA0-9AUr9I/preview"></iframe>
                <p></p> 
            </div>
        </div>
    </section>
