            <section id="dac" class="container content-section text-center">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <h2>DAC</h2>
                        <p>VIGOR is a decentralized autonomous community</p>
                        <br>
                        <a href="https://vig.ai" class="btn btn-default btn-lg">Join our DAC</a>
                    </div>
                </div>
            </section>