    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Whitepaper</h2>
                    <a href="https://vig.ai/VIGOR.pdf" class="btn btn-default btn-lg">Whitepaper (English)</a>
                    <p></p>
                    <a href="https://vig.ai/VIGOR_Chinese.pdf" class="btn btn-default btn-lg">Whitepaper (Chinese)</a>
                    <p></p>
                </div>
            </div>
        </div>
    </section>
