<section id="roadmap" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Roadmap (English)</h2>
                <br>
                <img src="{{site.baseurl}}/img/VIGORroadmap.jpg" width="400" height="200">
                <h2>Roadmap (Chinese)</h2>
                <br>
                <img src="{{site.baseurl}}/img/VIGORroadmapChinese.jpg" width="400" height="200">
            </div>
        </div>
    </section>