<section id="team" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Team</h2>
                <br>
                <iframe width="400" height="1000" src="https://vig.ai/vote-custodians"></iframe>
            </div>
        </div>
    </section>