<section id="wp" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <iframe src="https://docs.google.com/gview?url=https://vig.ai/VIGOR.pdf&embedded=true" style="width:400px; height:500px;" frameborder="0"></iframe>
                <p></p>
                <iframe src="https://docs.google.com/gview?url=https://vig.ai/VIGOR_Chinese.pdf&embedded=true" style="width:400px; height:500px;" frameborder="0"></iframe>
                <p></p>
                <iframe src="https://docs.google.com/gview?url=https://vig.ai/vigorstablecoin.pdf&embedded=true" style="width:400px; height:500px;" frameborder="0"></iframe>
                <p></p>
                <a href="{{site.baseurl}}/img/VIGORStablecoinSummaryKorean.pdf">Korean translation</a>
            </div>
        </div>
    </section>