<!DOCTYPE html>
<html>
    {% include head.html %}
    <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    {% include nav.html %}
    {% include header.html %}
    {% include download.html %}
    {% include wp.html %}
    {% include dac.html %}
    {% include about.html %}
    {% include roadmap.html %}
    {% include team.html %}
    {% include contact.html %}
    {% include footer.html %}
    {% include js.html %}
    </body>
</html>
